@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}


html{
  scroll-behavior: smooth;
}

body{
    background-color: #5a585556;

}

header{
  position: fixed;
  width: 100%;
}

h1{
font-size: 2em;
color: rgb(255, 0, 0);
font-family: 'BebasNeue-Regular', cursive
}
.menu{
  position: fixed;
  background-color: rgba(219, 37, 37, 0.863);
  padding: 2%;
  width: 100%;
}


.itens_menu, footer{
padding-top: 1%;
line-height: 2;
text-align: center;
font-size: 1.8m;

}
.itens_menu a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bolder;
}

.itens_menu a:active{
  color: #000000;

}

.itens_menu a:hover{
  background-color: rgba(100, 149, 237, 0.3);
  padding: 0.8%;
}

    p{
      text-align: center;
      font-size: 200%;
      line-height: 1.3;
      text-indent: 40px;
      color: rgb(0, 0, 0);
      font-family: 'Bebas+Neue&family', cursive; 
    }
    


h1,h2{
    text-align: center;
    text-decoration-line: overline;
    text-shadow: 2px 2px 5px rgba(184, 241, 255, 0.918);
}


figure{
    text-align: center;
}
.cotainer{
    width:70%;
    margin: auto;
}

.img_topo{

    width: 50%;
}

.img_corpo{

    width: 55%;
}

a:link {
    color: rgb(0, 0, 0);
  }
  
  a:visited {
    color: slateblue;
  }

  a:hover {
    color: rgb(255, 217, 0);
  } 

  footer{
    background-color: rgb(65, 65, 65);
    padding: 1%;
  }
  .botao{
    margin: 1%;
     width: 50px;
     height: 30px;
     padding: 2%;
     background-color: rgba(9, 7, 6, 0.3);
     margin: auto;
   }
   .botao:hover{
     background-color:#06ccc2;
   }
   .botao a:link, .botao a:visited{
     color:#02e0e0;
     text-decoration: none;
     font-weight: bolder;
   }
   .botao p{
     text-align: center;
   }
  
  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  td{
    border: 2px dashed #333130;
    padding: 1%;
  }

  th{
    border:2px dashed #333130;
    padding: 2%;
  }
 
  audio{
    width: 85%;
  }


.img_logo{
  width: 5%;
}

.logo{
  text-align: center;
}