body{
    background-color: #363636;

}

h1{
font-size: 2em;

}

.Itens_menu{
padding-top: 2%;
line-height: 1.5;
text-align: center;
font-size: 1.4m;

}

p{

  color:	#ffffff; 
  font-size: 2em;

}
h1,h2{
    text-align: center;

}
figure{
    text-align: center;
}
.cotainer{
    width:70%;
    margin: auto;
}

.img_topo{

    width: 60%;
}

.img_corpo{

    width: 55%;
}

a:link {
    color: red;
  }
  
  a:visited {
    color: slateblue;
  }

  a:hover {
    color: rgb(255, 217, 0);
  } 