@font-face {
  font-family: BebasNeue-Regular;
  src: url(../fonts/BebasNeue-Regular.ttf);
}


html{
  scroll-behavior: smooth;
}

body{
  background-image: url("../img/messi\ e\ cris.jpg");
  background-size: cover;
   position: absolute;
}

center{
  position: center;
}
header{
  width: 100%;
    background-color: rgba(22, 10, 6, 0.3);
    font-family: 'Courier New', Courier, monospace, cursive;  
}
.messi{
  width: 20%;
}
.cristiano{
  width: 20%;
}
.suarez{
  width: 20%;
}
.pipi{
  width: 20%;
}

li{
  display: inline;
}
ul li{
  font-size: 1.5em;
  padding: 1%;

}
ul{
  background-color: #000000;
  background-color: transparent;
}

.fixo{
  position: fixed;
  width: 100%;
  z-index: 1000;

}

h1{
font-size: 3em;
color: rgb(255, 0, 0);
font-family: 'BebasNeue-Regular', cursive

}

.menu{
  position: fixed;
  padding: 2%;
  width: 100%;
}
header{

  position: fixed;
  width: 100%;
}
 

.itens_menu, li{
padding-top: 1%;
line-height: 2;
text-align: center;
font-size: 1.8m;
float: left;

}
.itens_menu a:link, a:visited {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bolder;
}

.itens_menu a:active{
  color: #ff0000;

}

.itens_menu a:hover{
  background-color: rgba(100, 149, 237, 0.3);
  padding: 0.8%;
}

    p{
      text-align: center;
      font-size: 200%;
      line-height: 1.3;
      text-indent: 40px;
      color: rgb(0, 0, 0);
      font-family: 'Bebas+Neue&family', cursive; 
    }
    


h1,h2{
    text-align: center;
    text-decoration-line: overline;
    text-shadow: 2px 2px 5px rgba(184, 241, 255, 0.918);
}

.separacao{
padding: 1%;

}
.como{
  padding-top: 1%;
  background-color: rgba(255, 253, 253, 0.6);
}
.ui{
background-color: black;
background: transparent;
}
figure{
    text-align: center;
}
.cotainer{
    width:70%;
    margin: auto;
}

.img_topo{

    width: 40%;
    height: 30%;
}

.img_corpo{

    width: 55%;
}

a:link {
    color: rgb(253, 253, 253);
  }
  
  a:visited {
    color: slateblue;
  }

  a:hover {
    color: rgb(255, 238, 0);
  } 

  footer{
    background-color: rgb(65, 65, 65);
    padding: 1%;
    background-image: url("../img/gramado.jpg");
  }
  .botao{
    margin: 1%;
     width: 50px;
     height: 30px;
     padding: 2%;
     background-color: rgba(9, 7, 6, 0.3);
     margin: auto;
   }
   .botao:hover{
     background-color:#06ccc2;
   }
   .botao a:link, .botao a:visited{
     color:#02e0e0;
     text-decoration: none;
     font-weight: bolder;
   }
   .botao p{
     text-align: center;
   }
  
  section{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  table{
    width: 100%;
    border-collapse: collapse;
  }
  
  td{
    border: 2px dashed #333130;
    padding: 1%;
  }

  th{
    border:2px dashed #333130;
    padding: 2%;
  }
 
  audio{
    width: 85%;
  }


.img_logo{
  width: 5%;
  float: left;
}

.logo{
  text-align: center;
}
